* {
    box-sizing: border-box;

}

.homescreen {
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F7FB;
  }
  

.option--homescreen{
    display: flex;
    gap: 13px;
}

.line{
width: auto;
height: 3px;
background: #DBDEF0;
margin-top:20px;

}

.score{
color: #293264;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal
}
.question{
   
   word-wrap: break-word
   
}
.homescreen--button {
    width: 195px;
    height: 52px;
    border-radius: 15pxl;
    background: #4D5B9E;
    color: #F5F7FB;
}


.yellow_blob {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 235px;
    z-index: -1;
    fill: var(--Lemony---medium, #FFFAD1);
    z-index: -1;

}

.blue_blob {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 235px;
    fill: var(--baby---medium, #DEEBF8);
    z-index: -1;
}

.question {
    color: #293264;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width:500px;
}

.option,
.correct,
.incorrect {
    width: auto;
    padding: 10px;
   
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.794px solid #4D5B9E;
    color: #293264;
    text-align: left;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: flex-start;
    border-style: solid;
}

.selected {
    width: auto;
    padding: 10px;
    
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 500;
    line-height: normal;
    border-radius: 7.942px;
    background: #D6DBF5;
}

.button {
    display: block;
    margin: 10 auto;
    width: 120px;
    height: 35px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    font-family: Inter;
    font-size: 11px;
    font-weight: 600;
}

.correct {
    background-color:#94D7A2;
}

.incorrect {
    background-color: #F8BCBC;
}